html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
}

header ul.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0;
    background-color: #e7af85;
}

header ul.nav li {
    margin: 0 0.25rem;
    font-size: 1.25em;
}

header ul.nav .logo {
    font-weight: bold;
}

header ul.nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #eca05e;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ea9041;
}

header ul.nav a:hover {
    background-color: #f8fff0;
}

.column-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 10vh;
}

.column-container ul {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.column-container li {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 10em;
}

.services {
    justify-self: flex-start;
}

.orders {
    justify-self: center;
}

.cars {
    justify-self: flex-end;
}

h1 {
    display: flex;
    justify-content: center;
}

p, h2, h3, h4, h5, h6 {
    padding: 0.2rem 0.5rem;
    margin: 0;
}

a {
    color: #dc7e2c;
}

main {
    flex-grow: 1;
}

footer {
    margin-top: auto;
    background-color: #e7b88f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul.paginator {
    list-style: none;
    padding-inline-start: 0.5 rem;
}

.paginator {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.paginator a, .paginator .current {
    text-decoration: none;
    padding: 0 0.5rem;
    border: 1px solid #aacc99;
    background-color: #e8ffd0;
    border-radius: 0.5rem;
}
