{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ car }} | {{ block.super }}{% endblock title %}
{% block content %}
<div class='info'>   
    <h1>{{ car }}</h1>
    <h2> {{ car.client }} </h2>
        <img class='car-info-image' src='{{ car.car_image.url }}'>
    {% if car.client == request.user %}
    <h3><a class='button float-right' href="{% url 'car_update' pk=car.pk %}">{% trans "Update Car" %}</a></h3>
    {% endif %}
    <ul class='car-info'>
        <li>{% trans "Car brand" %}: {{ car.car_model.brand }}</li>
        <li>{% trans "Car model" %}: {{ car.car_model.model }}</li>
        <li>{% trans "Engine" %}: {{ car.car_model.engine }}</li>
        <li>{% trans "Manufactor year" %}: {{ car.car_model.year }}</li>
        <li>{% trans "Manufactor year" %}: {{ car.license_plate }}</li>
        <li>{% trans "VIN code" %}: {{ car.VIN_code }}</li>
    </ul>
</div>
{% endblock content %}