{% extends 'base.html' %}
{% block title %}Cars in {{ block.super }}{% endblock title %}
{% block content %}
<h1>Cars</h1>
{% include 'includes/search.html' %}
{% with car_list as page_obj %}
    {% include 'includes/paginator_nav.html' %}
{% endwith %}
<ul class="car-list">
    {% for car in car_list %}
    <li>
        <a href="{% url 'car_details' pk=car.pk %}">
            {% if car.car_image %}
                <img class="car-image" src="{{ car.car_image.url }}">
            {% endif %}
            <span>{{ car }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

{% with car_list as page_obj %}
    {% include 'includes/paginator_pages.html' %}
{% endwith %}
{% endblock content %}
