<!DOCTYPE html>
{% load static %}
<htmlang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stonyte autoservice{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <ul class='nav'>
        <li class='logo'>&#128663; Stonyte autoservice</li>
        <li><a href='{% url 'index' %}'>Home</a></li>
        <li><a href='{% url 'car_list' %}'>Cars</a></li>
        <li><a href='{% url 'orderline_list' %}'>Orders</a></li>
        {% if user.is_authenticated %}
            <li><a href='{% url 'profile' %}'>&#128100; {{ user.get_username }}</a></li>
            <li><a href="{% url 'logged_out' %}">Logout</a></li>
            <li><a href="{% url 'user_order_list' %}">My Orders</a></li>
            <li><a href="{% url 'user_car_list' %}">My Cars</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
        {% endif %}
    </ul>
    <main>
        {% if messages %}
            {% for message in messages %}
                <p class="box box-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </main>
<footer><p>&copy; 2023 <a href='https://www.linkedin.com/in/evelina-stonyte/'> Evelina Stonyte</p></footer>
</header>
</body>