<!DOCTYPE html>
{% load static %}
<htmlang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mermaido autoservice{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <ul class='nav'>
        <li class='logo'>&#128663; Mermaido autoservice</li>
        <li><a href='{% url 'index' %}'>Home</a></li>
        <li><a href='{% url 'car_list' %}'>Cars</a></li>
        <li><a href='{% url 'orderline_list' %}'>Orders</a></li>

    </ul>
<main>{% block content %}{% endblock content %}</main>
<footer><p>&copy; 2023 <a href='https://www.linkedin.com/in/evelina-stonyte/'> Evelina Stonyte</p></footer>
</header>
</body>