{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Password Reset " %}{{ block.super }}{% endblock title %}
{% block content %}
{% if validlink %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type='submit'>{% trans "Change Password" %}</button></p>
    </form>
{% else %}
    <p class="box box-error">{% trans "Password Reset Failed: the link has expired it is no longer valid." %}</p>
{% endif %}
{% endblock content %}